body {
  background-color: #232323;
  margin: 0;
}

.square {
  
  background-color: pink;
  padding-bottom: 30%;
  width: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20%;
  transition: all 0.5s;
}

h1 {
  text-align: center; 
  color: white;
  background-color: steelblue;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

#picked {
  font-size: 40px;
}

#stripe{
  text-align: center;
  background-color: white;
  margin: 0;
  height: 30px;
}

button {
  text-transform: uppercase;
  font-size: 20px;
  color: steelblue;
  background-color: white;
  border: 0;
  outline: none;
  height: 100%;
  transition: all 0.5s;
  padding: 2px;
  font-weight: bold;
}

.selected {
  background-color: steelblue;
  color: white;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

button:hover {
  background-color: steelblue;
  color: white;
}

#messageDisplay {
  width: 20%;
  display: inline-block;
}